.env
.venv/
__pycache__/
*.pyc
.DS_Store
node_modules/
dist/
build/
data/uploads/
backend/data/uploads/
frontend/node_modules/
frontend/.next/
frontend/.env
*.sqlite3
*.db
data/database/*.db
data/uploads/*
data/config/*
!data/.gitkeep
!data/config/.gitkeep
backend/data/config/*
!backend/data/config/.gitkeep
backend/data/uploads/*
backend/data/database/*.db
*.zip